body {
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #1c1c1c;
}

h2 {
    color: #f4f4f4;
}

header {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    display: flex;
}

.banner {
    height: 110px;
    width: 80%;
    margin-top: 10px;
}


.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option {
    display: flex;
    margin-bottom: 20px;
    font-weight: bold;
}

.codigo1 {
    margin-right: 10px;
    margin-top: 20px;
    border: 1px solid #00de04;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    
}

.codigo2 {
    margin-left: 10px;
    margin-top: 20px;
    border: 1px solid #ffc400;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}


.btn {
    background: #0073ff;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
    decoraction: none;
    border-radius: 10px;
    border: 1px solid #ffffff;
    text-decoration: none;
}


footer {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
    
}

footer strong {
    margin-left: 6px;
}

footer strong a{
    color: #e3b900;
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #00de04 50%, #ffc400 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.carousel-container {
      width: 350px;
      height: 185px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      position: relative;
    }

    .carousel {
      display: flex;
      width: 350px;
      animation: slide 10s infinite;
    }

    .carousel img {
      height: 235px;
      width: 350px;
      flex-shrink: 0;
    }

    @keyframes slide {
      0%, 33.33% {
        transform: translateX(0);
      }
      33.34%, 66.66% {
        transform: translateX(-100%);
      }
      66.67%, 100% {
        transform: translateX(-200%);
      }
    }

@media (max-width: 330px) {
  .banner {
    height: 90px; /* Ajuste para telas menores */
    width: 70%;
    margin-top: 15px;
  }
}


@media (max-width: 400px) {
  .banner {
    height: 80px;
    width: 60%;
    margin-top: 20px;
  }
}

@media (min-width: 400px) and (max-width: 1024px) {
  .banner {
    height: 100px;
    width: 60%;
    margin-top: 10px;
  }
}
    
    

    
