.dnss {
    color: blue;
}


.dns {
    background: radial-gradient(circle, rgb(225, 155, 162), rgb(176, 243, 250));
    border: 1px solid #000000;
    justify-content: center;
    text-align: center;
}

footer {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ffffff;
    margin-top: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

footer strong {
    margin-left: 6px;
}

footer strong a{
    color: #e3b900;
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #00de04 50%, #ffc400 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer strong a:hover{
    color: #00c25a;
}