.footer2{
    background: radial-gradient(circle, rgb(174, 150, 149), rgb(42, 42, 49));
    border: 2px solid ##ffffff;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.txt2{
     color: #C1DDD4;
}


footer {
    background: radial-gradient(circle, rgb(225, 155, 162), rgb(176, 243, 250));
    border: 2px solid ##ffffff;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.foter{
     color: #1A95E6;
}

.nfoter{
    color: #ffffff;
}


footer a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    
    
}

footer a:hover {
    transform: scale(1.05);
}






.logo {
    
    filter: drop-shadow(0 0 5px #000);
    animation: draw-outline 3s forwards;
}

@keyframes draw-outline {
    0% {
        filter: drop-shadow(0 0 0px #000);
    }
    100% {
        filter: drop-shadow(0 0 10px #000);
    }
}





.star-rating .star {
    font-size: 13px;
    position: relative;
    animation: sparkle 1.5s infinite, float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-3px); }
}



.app-name {
    font-size: 18px;
    margin: 5px 0;
}

.app-name span {
    margin-left: 10px;
}


.ntdown {
     color: #8a0000;
}


#installButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Garante que o botão esteja à frente de outros elementos */
}

#installButton:hover {
    background-color: #45a049; /* Muda a cor de fundo ao passar o mouse */
}


.dnss {
    color: blue;
}


.dns {
    background: radial-gradient(circle, rgb(225, 155, 162), rgb(176, 243, 250));
    border: 1px solid #000000;
    justify-content: center;
    text-align: center;
}



body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #000000;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 87%;
            max-width: 800px;
            margin: 9px auto;
            background-color: #e2edf8;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 6px 8px rgba(127, 255, 212, 1);
            text-align: center;
        }
        .logo {
            max-width: 265px;
            margin-bottom: 10px;
        }
        h1 {
            color: #333;
            font-size: 24px;
            margin-bottom: 20px;
        }
        .visit-counter {
            font-size: 20px;
            font-weight: bold;
            color: #ffffff;
            background: linear-gradient(45deg, #ff416c, #ff4b2b);
            padding: 10px 20px;
            border-radius: 5px;
            display: inline-block;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            transition: background 0.3s, transform 0.3s;
        }
        .visit-counter:hover {
            background: linear-gradient(45deg, #ff4b2b, #ff416c);
            transform: translateY(-2px);
        }
        .app-list {
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: left;
        }
        .app-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            border-bottom: 1px solid #ddd;
            transition: background-color 0.3s;
        }
        .app-item:hover {
            background-color: #f9f9f9;
        }
        .app-info {
            display: flex;
            align-items: center;
        }
        .app-info img {
            width: 60px;
            height: 60px;
            margin-right: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
            cursor: pointer;
        }
        .app-info div {
            display: flex;
            flex-direction: column;
        }
        .app-name {
            font-size: 18px;
            color: #333;
            font-weight: bold;
        }
        .app-description {
            font-size: 14px;
            font-weight: bold;
            color: #666;
        }
        @keyframes brilho {
            0% {
                transform: translateX(-100%);
            }
            50% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(-100%);
            }
        }
        
        

        .download-btn {
            padding: 10px 25px;
            background-color: #007BFF;
            color: #fff;
            border: none;
            cursor: pointer;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s, transform 0.3s;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            position: relative;
            overflow: hidden;
        }

        .download-btn::before {
            content: '';
            position: absolute;
            top: 0;
            left: -100%;
            width: 200%;
            height: 100%;
            background: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(0, 128, 0, 0) 70%);
            transform: translateX(-100%);
            animation: brilho 10s linear infinite;
            z-index: 1;
        }

        .download-btn span {
            position: relative;
            z-index: 2;
        }

        .download-btn:hover {
            background-color: #0056b3;
            transform: translateY(-2px);
        }
        
        
        .enlarged {
            transform: scale(2);
            z-index: 1000;
            position: relative;
        }
        
        
.slideshow-container {
    position: relative;
    max-width: 200px; /* Ajuste conforme necessário */
    height: 220px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mySlides {
    display: none;
}

img {
    width: 100%;
    max-height: auto;
    border-radius: 10px;
    object-fit: cover;
}

max-width: 265px;

.fade {
    animation: fade 1.5s ease-in-out;
}

@keyframes fade {
    from {opacity: 0.4} 
    to {opacity: 1}
}

/* Botões de navegação */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Ponto indicativo */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}









/* Estilos para o botão */
#showPropaganda {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#showPropaganda:hover {
    background-color: #45a049;
}

/* Estilos para o modal de propaganda */
.modal {
    display: none; 
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    background-color: #1c1c1c;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 90%; 
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    text-align: left;
}

/* Estilos para o modal de visualização de imagens */
#imageModal {
    display: none; 
    position: fixed; 
    z-index: 3; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.9); 
}

#imageModal .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
}

#imageModal .modal-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos de texto */
li {
    color: #ffffff;
}

.txt {
    color: #ffffff;
}

.modal-content h2, .modal-content h3 {
    color: #4CAF50;
}

.modal-content p, .modal-content li {
    margin: 10px 0;
    line-height: 1.6;
}

/* Estilos do footer */
footer {
    color: green;
    text-align: center;
}