body {
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #1c1c1c;
}

.aviso {
    justify-content: center;
    align-items: center;
    display: flex;
    
}

h1 {
    font-size: 20px;
    color: #ffffff;
}

header {
    justify-content: center;
    align-items: center;
    display: flex;
}

.banner {
    height: 110px;
    width: 75%;
    margin-top: 10px;
}

footer {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ffffff;
    margin-top: 100%;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
    
    
}

footer strong {
    margin-left: 6px;
}

footer strong a{
    color: #e3b900;
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #00de04 50%, #ffc400 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer strong a:hover{
    color: #00c25a;
}

@media (max-width: 330px) {
  .banner {
    height: 90px; /* Ajuste para telas menores */
    width: 70%;
    margin-top: 15px;
  }
}


@media (max-width: 400px) {
  .banner {
    height: 80px;
    width: 60%;
    margin-top: 20px;
  }
}

@media (min-width: 400px) and (max-width: 1024px) {
  .banner {
    height: 100px;
    width: 60%;
    margin-top: 10px;
  }
}